:root,
:root[data-theme='light'] {
  --wxh5-common-bg-color: #fff;
  --wxh5-common-color: #000;
}

:root[data-theme='dark'] {
  --wxh5-common-bg-color: #000;
  --wxh5-common-color: #cfd3dc;

  --el-text-color-regular: var(--wxh5-common-color);
  --el-fill-color-blank: transparent;
}
